* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  max-width: 1700px;
  text-align: center;
}

.container {
  align-items: center;
  background: url(../images/theatrebench-records.png) no-repeat center center fixed;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 100px;
}

section {
  font-style: italic;
  margin-top: 200px;
  text-align: center;
}

.main {
  padding-top: 700px;
  position: absolute;
}

.text {
  background-color: black;
  padding: 20px 0 20px 0;
}

header {
  background-color: white;
  height: 60px;
}

li {
  display: inline-block;
  padding: 20px 30px 20px 30px;
}

li a {
  color: #e33f35;
  font-weight: bold;
}

li a:hover {
  color: black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #e33f35;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

p, blockquote {
  font-size: 15px;
  padding: 20px 100px 20px 100px;
}

blockquote {
  font-style: italic;
}

footer {
  background-color: white;
  color: black;
}

footer a {
  color: black;
  display: block;
}

footer a:hover {
  color: #e33f35;
}

.credit {
  font-size: 10px;
  padding: 20px 0 20px 0;
}
